<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Galactech FTC Robotics" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.galactech.dev" />
  <meta property="og:image" content="public/galactechlogo.png" />
  <link rel="icon" href="/public/galactechlogoround.png">
  <title>Galactech Details Sheet</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
  <nav class="autohide navbar navbar-expand-lg navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img width="40" height="40" class="rounded-circle" src="/public/galactechlogo.png" alt="Galactech Logo" /></a>
      <a href="/" class="navbar-brand">Galactech</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Jump To</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#robotics">Robotics</a></li>
              <li><a class="dropdown-item" href="#FTC">FTC</a></li>
              <li><a class="dropdown-item" href="#galactech">Galactech</a></li>
              <li><a class="dropdown-item" href="#sponsor">Sponsor</a></li>
              <li><a class="dropdown-item" href="#join">Join</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="text-light text-center px-5 pt-5 text-sm-start">
    <div class="container p-5">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1 class="pt-5 text-dark p-4">What is this all about?</h1>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block rounded-pill" src="/public/confusedperson1.jpg"
          alt="Confused Person - Photo by Ayo Ogunseinde on Unsplash" />
      </div>
    </div>
  </section>

  <!--Cards-->
  <section class="p-5 bg-secondary">
    <div class="container p-5">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-dark text-light fade-in">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <h3 class="card-title mb-3">Robotics</h3>
              <p class="card-text">
                Robotics is the combination of important skills, like hardware, coding,
                and outreach. The combination of these skills will be refined
                to outperform other teams. You will strategize ways to meet requirments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light fade-in" data-delay="100">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-cpu"></i>
              </div>
              <h3 class="card-title mb-3">FTC</h3>
              <p class="card-text">
                FIRST is a Nonprofit aimed at delivering robotics oppurtunities. FTC is one of it's three branches. FTC
                stands for FIRST Tech Challenge and
                builds medium sized robots with of high
                school students.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light fade-in" data-delay="200">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <h3 class="card-title mb-3">This Team</h3>
              <p class="card-text">
                Many high schools offer the oppurtunity to join a FTC team
                representing the school. This team however is a private team,
                based on Newcastle Washington, and recruit members on an
                interview basis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Robotics-->
  <section id="robotics" class="p-5">
    <div class="container p-5">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="/public/robotics1.jpg" class="img-fluid rounded-3 d-none d-sm-block shadow fade-in"
            alt="Robot looking up - Photo by Alex Knight on Unsplash" />
        </div>
        <div class="col-md p-5">
          <h2>What is robotics about?</h2>
          <p class="lead">
            Robotics encomapsses many skills that the future generation will have to use. Outreach, Coding, and Building
            are the three main tools.
          </p>
          <p>
            In FTC, Outreach will focus on luring investors, presenting the robot, and
            inspiring younger kids. Coding will focus on providing functionality to the built robot. Building will
            construct a robot from parts bought. Robotics is a very general term though, and these tasks and
            responsibilities vary.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--FTC-->
  <section id="FTC" class="p-5 bg-dark text-light">
    <div class="container p-5">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <h2>What is FTC about?</h2>
          <p class="lead">
            A division of robotics created with the nonprofit FIRST, along
            with FLL and FRC.
          </p>
          <p>
            FTC stands for FIRST Tech Challenge and builds
            medium sized robots with a medium sized group of high school
            students. Every fall a new challenge gets released for all FTC teams. These teams kick off their school year
            by racing
            towards building the best possible robot. Using existing and future funds, they build a competitive robot
            for the next many months, with many competitions and roadblocks in between.
          </p>
        </div>
        <div class="col-md">
          <img src="/public/FTClikerobots1.jpg" class="img-fluid rounded-3 d-none d-sm-block shadow fade-in"
            alt="FTC like robots - Photo by Jelleke Vanooteghem on Unsplash" />
        </div>
      </div>
    </div>
  </section>

  <!--Galactech-->
  <section id="galactech" class="p-5">
    <div class="container p-5">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="/public/galactechlogo.png" class="img-fluid rounded-3 d-none d-sm-block shadow fade-in"
            alt="Logo" />
        </div>
        <div class="col-md p-5">
          <h2>What is Galactech all about?</h2>
          <p class="lead">
            Galactech Robotics is a private FTC team assembled in 2022 with 8 members: Ethan Lee, Sidd Woddi, Johaan
            Mannanal, Lena Manjali, Ishaan Mannanal, Jaden Yu, Eli Kim, and Pranav Sankar
          </p>
          <p>
            Galactech focuses on year-round quality work, and
            strives to offer the best robots and community possible. We are based in Renton, Washington.
            If you do end up wanting to join a FTC team, and you do not have a school team accessible look for a private
            team. Galactech also is open for new members but recruits on an interview basis. If joining an existing
            private is though, a great idea is to make one with friends.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="takeaction" class="p-5 purp-bg text-light text-center">
    <h2>What Can You Do?</h2>
  </section>

  <!--Take Action by sponsoring-->
  <section id="sponsor" class="p-5 bg-dark text-light text-center">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <p class="lead px-5">
            Sponsoring this team, or other FTC/Robotics team, is equal to fueling the
            future of robotics and innovation. Robot parts are exceedingly
            expensive, and require financial aid by anyone willing.
          </p>
          <p class="p-5 pt-0">
            If you are willing to sponsor Galactech please click the button
            and fill out the form below. This will put you in contact with our
            team. Before you do so, you should check our page specifiying
            advantages, and perks of sponsors. This is linked in the form.
          </p>
          <button class="btn purp-btn background-grow" data-bs-toggle="modal" data-bs-target="#enroll">
            Sponsor
          </button>
        </div>
      </div>
    </div>
  </section>
  <!--Take Action by joining-->
  <section id="join" class="p-5 bg-secondary text-light text-center">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <p class="lead px-5">
            The grade level for FLL(FIRST Lego League) is 3-10, FTC(FIRS T Tech Challenge) is 7-12, FRC(FIRST Robotics
            Competition) is 9-12. You can join your school team, or get in contact with us to help
            you find custom teams. You may also start an FTC team with
            friends. You may also qualify for joining this specific team
            Galactech.
          </p>
          <p class="p-5 pt-0">
            To act on any of these options, you may check click the button
            below, and fill out the form. Putting you in contact with us will
            give you oppurtunities to join FIRST Tech Challenge.
          </p>
          <button class="btn purp-btn background-grow" data-bs-toggle="modal" data-bs-target="#joining">
            Join FTC
          </button>
        </div>
      </div>
    </div>
  </section>

  <!--Back to home button-->
  <section id="backtohomebutton" class="p-5 bg-dark text-light text-center">
    <a href="/" role="button" class="btn purp-btn btn-lg py-3">
      Back to Home</a>
  </section>

  <!--Sponsor modal-->
  <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Sponsor the Future Raiders
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Fil out this form and we will get back to you!</p>
          <a href="/sponsor">Click this link first</a>
          <form action="">
            <div class="mb-3">
              <label for="first-name" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="first-name" />
            </div>
            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last-name" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Email</label>
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Phone: </label>
              <input type="tel" class="form-control" id="phone" />
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn purp-btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Joining modal-->
  <div class="modal fade" id="joining" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">
            First Step into joining FTC
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Fill out this form and we will get back to you!</p>
          <a href="/join">Click this link first</a>
          <form action="">
            <div class="mb-3">
              <label for="first-name" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="first-name" />
            </div>
            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last-name" />
            </div>
            <div class="mb-3">
              Email
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Phone: </label>
              <input type="tel" class="form-control" id="phone" />
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn purp-btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/public/index.js"></script>
</body>

</html>