<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Galactech FTC Robotics" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.galactech.dev" />
  <meta property="og:image" content="public/galactechlogo.png" />
  <link rel="icon" href="/public/galactechlogoround.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="scss/_variables.scss" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <important>
    <link rel="stylesheet" href="/public/style.css" />
  </important>
  <title>Galactech Homepage</title>
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img width="40" height="40" class="rounded-circle" src="/public/galactechlogo.png" alt="Galactech Logo" /></a>
      <a href="#" class="navbar-brand">Galactech</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#meetTheTeam" class="nav-link mx-1">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#FAQ" class="nav-link mx-1">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="#sponsor" class="nav-link mx-1">Sponsor</a>
          </li>
          <li class="nav-item">
            <a href="#join" class="nav-link mx-1">Join</a>
          </li>
          <!--<li class="nav-item">
            <a href="#donate" class="nav-link mx-1">Donate</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>

  <!--Introduction-->

  <section class="text-light text-center text-sm-start mt-md-5 mt-lg-0">
    <div class="container px-0 py-5">
      <div class="d-sm-flex align-items-center py-4 p-lg-0 py-lg-5 justify-content-between">
        <div>
          <h1 class="text-dark mb-3">
            Paving the Way in
            <span class="purp">
              <strong data-typewrite="Robotics,Coding,Engineering,Collaboration"></strong><span
                class="typing-indicator">&nbsp;</span>
          </h1>
          <p class="lead my-5 mx-3 text-dark">
            <strong>
              We are a team started in 2022. As a team of
              6 hardworking individuals, we are striving to deliver the best
              engineered robots
            </strong>
          </p>
          <button class="btn purp-btn btn-lg mx-4 my-3" data-bs-toggle="modal" data-bs-target="#enroll">
            Sponsor
          </button>
          <button class="btn purp-btn btn-lg mx-1 my-3" data-bs-toggle="modal" data-bs-target="#joining">
            Join
          </button>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block rounded-3 mt-4 mx-2 shadow" src="/public/memberstogether1.png"
          alt="Galactech Logo" />
      </div>
    </div>
  </section>

  <!--Email Submittion-->
  <section class="purp-bg text-light p-5">
    <div class="container">
      <form action="/api/email" class="js-form">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3mb-md-0">Sign Up For More Information</h3>

          <div class="input-group news-input">
            <input type="email" class="form-control" placeholder="Enter Email" id="email" />
            <button class="btn btn-dark btn-lg" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!--Cards-->

  <section class="p-5 bg-dark">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md mt-5">
          <div class="card bg-secondary text-light fade-in">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <h3 class="card-title mb-3">The Team</h3>
              <p class="card-text">
                A group of high schoolers, that are interested and invested in
                science, technology, and solving problems.
              </p>
              <a href="#meetTheTeam" class="btn purp-btn">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-md mt-5">
          <div class="card bg-secondary text-light fade-in" data-delay="100">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-person-plus-fill"></i>
              </div>
              <h3 class="card-title mb-3">Join</h3>
              <p class="card-text">
                Join a group of talented, young, motivated people. Spend some
                time bringing ideas of the the future to today.
              </p>
              <a href="#join" class="btn purp-btn">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md mt-5">
          <div class="card bg-secondary text-light fade-in" data-delay="200">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-cash"></i>
              </div>
              <h3 class="card-title mb-3">Sponsor</h3>
              <p class="card-text">
                Provide monetary benifits to Galactech, a team working hard
                to solve technological and engineering problems.
              </p>
              <a href="#sponsor" class="btn purp-btn">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Explanation of FTC/Robotics-->
  <section id="details" class="p-5 bg-dark">
    <div class="container">
      <div class="row align-items-center justify-content-between bg-dark text-light">
        <div class="col-md">
          <img src="/public/cartoon-robot-hi.png" class="img-fluid d-none d-sm-block" alt="Cartoon Robot" />
        </div>
        <div class="col-md p-5">
          <h2>What are we?</h2>
          <p class="lead mt-3">
            We are a FTC Robotics team, striving to build the best robots that fill the
            requirements
          </p>
          <p class="mt-4">
            FTC is a division of robotics created by the organization FIRST.
            This cultivates skills in teens needed for technoligically
            advanced jobs in the future. Find out more about robotics, FTC,
            and Galactech.
          </p>
          <a href="/details" class="btn btn-light mt-5">
            <i class="bi bi-chevron-right"></i>Read More
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--Timeline
    <section id="timeline" class="p-5 text-center">
      <div class="container">
        <div class="row g-4">
          <h2 class="text-center mb-4">Timeline</h2>
          <ul class="list-group list-group-flush lead">
            A video That summarizes this team
          </ul>
          <iframe
            id="timelinevideoframe"
            title="Timeline of Robotics Team"
            width="300"
            height="200"
            src="https://www.youtube.com/watch?v=iik25wqIuFo"
          >
          </iframe>
        </div>
      </div>
    </section>-->

  <!--Meet the Team-->
  <section id="meetTheTeam" class="p-5 purp-bg">
    <div class="container p-5">
      <h2 class="text-center text-white">Meet the Team</h2>
      <p class="lead text-center text-white mb-5">
        Our team is working hard to bring to you the future
      </p>
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="100">
            <div class="card-body text-center">
              <img src="/public/ethanprofile.png" class="rounded-circle mb-4 w-75 shadow" alt="Picture of Ethan" />
              <h3 class="card-title mb-3">Ethan Lee</h3>
              <p class="card-text">
                I'm a builder who also dabbles a little bit in code. I dislike
                work being finished late. One hobby of mine is playing sports.
              </p>
              <a href="/ContactInformation"><i class="bi bi-discord text-dark mx-1"></i></a>
              <a href="/ContactInformation"><i class="bi bi-instagram text-dark mx-1"></i></a>
              <a href="/ContactInformation"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="200">
            <div class="card-body text-center">
              <img src="/public/siddprofile1.png" class="rounded-circle mb-4 w-75 shadow" alt="Picture of Sidd" />
              <h3 class="card-title mb-3">Sidd Woddi</h3>
              <p class="card-text">
                I primarily work as a builder and CADer for Galactech. Outside
                of robotics, I enjoy skiing and karate.
              </p>
              <a href="/contact"><i class="bi bi-discord text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-instagram text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="300">
            <div class="card-body text-center">
              <img src="/public/johaan.png" class="rounded-circle mb-4 w-75 shadow" alt="Picture of Johaan" />
              <h3 class="card-title mb-3">Johaan M</h3>
              <p class="card-text">
                I love coding, AI, business, astrophysics, and
                finance. My hobbies are photography and watching Marvel
                movies.
              </p>
              <a href="/contact"><i class="bi bi-discord text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-instagram text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in">
            <div class="card-body text-center">
              <img src="/public/lenaprofile1.png" class="rounded-circle mb-4 w-75 shadow" alt="Picture of Lena" />
              <h3 class="card-title mb-3">Lena Manjali</h3>
              <p class="card-text">
                My main area of work is in the Outreach subgroup. I competitively swim, and I like to read in my free
                time. Go
                Galactech!!
              </p>
              <a href="/contact"><i class="bi bi-discord text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-instagram text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="100">
            <div class="card-body text-center">
              <img src="/public/laurenprofile1.png" class="rounded-circle mb-4 w-75 shadow" alt="Picture of Lauren" />
              <h3 class="card-title mb-3">Lauren Kim</h3>
              <p class="card-text">
                I'm one of the people to work in outreach. I love to play
                sports and read! Being apart of this robotics team is so much
                fun!
              </p>
              <a href="/contact"><i class="bi bi-discord text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="200">
            <div class="card-body text-center">
              <img src="/public/rhoneprofile.png" class="rounded-circle mb-4 w-75 shadow" alt="Picture of Rhone" />
              <h3 class="card-title mb-3">Rhone Eiler</h3>
              <p class="card-text">
                I am a freelancer. Work as a software, frontend, and backend developer. I
                also make solo films in my free time.
              </p>
              <a href="/contact"><i class="bi bi-discord text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Meet the Mentors-->
  <section id="meetTheTeam" class="p-5 bg-secondary">
    <div class="container p-5">
      <h2 class="text-center text-white">Meet the Mentors</h2>
      <p class="lead text-center text-white mb-5">
        The amazing group of people making this possible
      </p>
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="100">
            <div class="card-body text-center">
              <img src="https://via.placeholder.com/1" class="rounded-circle mb-4 w-75 shadow"
                alt="Picture of Tarak Woddi" />
              <h3 class="card-title mb-3">Tarak Woddi</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus quidem minus omnis corrupti sequi ratione!
              </p>
              <a href="/contact"><i class="bi bi-envelope text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="200">
            <div class="card-body text-center">
              <img src="/public/onnprofile1.png" class="rounded-circle mb-4 w-75 shadow" alt="Picture of Onn Lee" />
              <h3 class="card-title mb-3">Onn Lee</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus quidem minus omnis corrupti sequi ratione!
              </p>
              <a href="/contact"><i class="bi bi-envelope text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-light fade-in" data-delay="300">
            <div class="card-body text-center">
              <img src="/public/vishalprofile1.png" class="rounded-circle mb-4 w-75 shadow"
                alt="Picture of Vishal Mannanal" />
              <h3 class="card-title mb-3">Vishal Mannanal</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus quidem minus omnis corrupti sequi ratione!
              </p>
              <a href="/contact"><i class="bi bi-envelope text-dark mx-1"></i></a>
              <a href="/contact"><i class="bi bi-phone text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Frequently Asked Questions-->
  <section id="FAQ" class="p-5">
    <div class="container p-5">
      <h2 class="text-center mb-4">Frequently Asked Questions</h2>
      <div class="accordion accordion-flush" id="FAQ">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne">
              What is FTC?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              FTC stands for FIRST Tech Challenge. Teams of primarily high
              schoolers make robots using multiple skills. These robots will
              perform a specified task by the organization "FIRST". As teams
              win rounds, they move up in ranks, aiming for winning the world
              competition. Teams will be using leadership, coordination,
              teamwork, software skills, hardware skills, and outreach skills.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo">
              If I joined FTC, how much time would I spend?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              Building a robot is a difficult task, and mirrors a job. The
              amount of time required varies greatly. This is due to factors
              like team size, goal, age, and time of the year. It would
              generally range from 6 hours a week to 60 hours.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree">
              What skills can I learn from this?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              Robotics requires the initial skills of leadership, teamwork,
              and hardwork. As your FTC experience progresses, you will learn
              hardware and/or coding and/or outreach skills.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour">
              Do I need to have previous experience to join?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              Many of the members of FTC have either done some sort of
              robotics in the past, specifically FLL (FIRST Lego League). If
              you dont have any experience in robotics whatsoever, this is
              fine. Refining current knowledge of technology and using logic
              will equip you with needed skills.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive">
              What are the age requirements to join?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              The age requirements for FTC are 8th grade to 12th grade. Teams
              can have 18+ mentors, and Galactech has a couple of them. The
              mentors guide the inexperienced team.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix">
              What is the average team size?
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              The Galactech FTC team contains 6 people, but it can go way
              above this.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Sponsor-->
  <section id="sponsor" class="p-5 bg-dark text-light">
    <div class="container fade-in p-5">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <h2>Sponsor</h2>
          <p class="lead mt-3">
            Sponsor the FTC Robotics team, Galactech, to fuel technoligcal ambition in the future generation.
          </p>
          <p class="mt-4">
            Click the link below to get information on what, who, and why you should Sponsor. You will also give
            yourself the oppurtunity to put yourself in contact with our team.
          </p>
          <a href="/sponsor" class="btn btn-light mt-5">
            <i class="bi bi-chevron-right"></i>Read More
          </a>
        </div>
        <div class="col-md">
          <img src="/public/coder-clipart-8.jpg" class="img-fluid d-none d-sm-block" alt="Person Coding" />
        </div>
      </div>
    </div>
  </section>

  <!--Join-->
  <section id="join" class="p-5 purp-bg text-light">
    <div class="container fade-in pt-5 p-1">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <img src="/public/coderphoto1.png" class="img-fluid d-none d-sm-block" alt="Person Coding" />
        </div>
        <div class="col-md">
          <h2>Join</h2>
          <p class="lead mt-3">
            Join a FTC Robotics team today!
          </p>
          <p class="mt-4">
            Click the link below to get information on why and what you get when you sign up for ftc robotics. It will
            also give you brief information on how to join and give you the oppurtunity to put yourself in contact with
            us.
          </p>
          <a href="/join" class="btn btn-light mt-5">
            <i class="bi bi-chevron-right"></i>Read More
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--Donate
  <section id="donate" class="p-5 text-center">
    <div class="container fade-in p-5">
      <div class="row g-4">
        <div class="col-md">
          <h2 class="text-center mb-4">Donate</h2>
          <ul class="list-group list-group-flush lead">
            <li class="list-group-item">
              <span class="fw-bold">Fuel the Future</span>
              Lorem ipsum dolor sit amet consectetur.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>-->

  <!--Question/Suggestion Submittion-->
  <section class="purp-bg text-light pt-1 p-5">
    <div class="container">
      <form action="/api/question" class="js-form">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3mb-md-0">Type A Question Or Suggestion Here</h3>

          <div class="input-group news-input">
            <textarea class="form-control" placeholder="Enter Question/Suggestion" id="question" rows="1"></textarea>
            <button class="btn btn-dark btn-lg" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!--footer-->
  <footer class="py-4 bg-dark text-white text-center position relative">
    <div class="container">
      <p class="lead pt-2">2022 Galactech FTC Team</p>
    </div>
  </footer>

  <!--Sponsor modal-->
  <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Sponsor Galactech
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/api/sponsor" class="js-form">
          <div class="modal-body">
            <p class="lead">Fil out this form and we will get back to you!</p>
            <a href="/sponsor">Click this link first</a>

            <div class="mb-3">
              <label for="first-name" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="first-name" />
            </div>
            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last-name" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Email</label>
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Phone: </label>
              <input type="tel" class="form-control" id="phone" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn purp-btn">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Joining modal-->
  <div class="modal fade" id="joining" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">
            First Step into joining FTC
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form action="/api/join" class="js-form">
          <div class="modal-body">
            <p class="lead">Fill out this form and we will get back to you!</p>
            <a href="/join">Click this link first</a>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="first-name" />
            </div>
            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last-name" />
            </div>
            <div class="mb-3">
              Email
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Phone: </label>
              <input type="tel" class="form-control" id="phone" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn purp-btn">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/public/index.js"></script>
</body>

</html>