<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="Galactech FTC Robotics" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.galactech.deno.dev" />
  <meta property="og:image" content="public/galactechlogo.png" />
  <link rel="icon" href="/public/galactechlogoround.png">
  <title>Galactech Sponsor Sheet</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img width="35" height="35" class="rounded-circle" src="/public/galactechlogo.png" alt="Galactech Logo" /></a>
      <a href="#" class="navbar-brand">Galactech</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#what" class="nav-link mx-1">What</a>
          </li>
          <li class="nav-item">
            <a href="#who" class="nav-link mx-1">Who</a>
          </li>
          <li class="nav-item">
            <a href="#why" class="nav-link mx-1">Why</a>
          </li>
          <li class="nav-item">
            <a href="#sponsor" class="nav-link mx-1">Sponsor</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="text-light text-center px-5 pt-5 text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1 class="pt-5 text-dark p-4">Why Sponsor?</h1>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block p-5 rounded-pill" src="/public/sponsorphoto3.jpg"
          alt="Person racing on bike - Photo by dan garri on Unsplash" />
      </div>
    </div>
  </section>

  <!--Cards-->
  <section class="p-5 bg-secondary">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <h3 class="card-title mb-3">What</h3>
              <p class="card-text">
                You are sponsoring Galactech, a FTC formed in 2022 aimed to
                build the best Robotics, with the best environment
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-person"></i>
              </div>
              <h3 class="card-title mb-3">Who</h3>
              <p class="card-text">
                You are sponsoring the 6 current members, Sidd Woddi, Ethan
                Lee, Johaan Mannanal, Lena Manjali, Lauren Kim, and Rhone
                Eiler.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-person"></i>
              </div>
              <h3 class="card-title mb-3">Why</h3>
              <p class="card-text">
                You get to be a part of the nesxt generation of robotics and
                technoligal progress. You will also get a shoutout.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--What-->
  <section id="what" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="/public/sponsorphoto1.jpg" class="img-fluid rounded-3"
            alt="An educational robot - Photo by Marília Castelli on Unsplash" />
        </div>
        <div class="col-md p-5">
          <h2>What are you sponsoring</h2>
          <p class="lead">
            You are sponsoring Galactech, a FTC formed in 2022 aimed to build
            the best Robotics, with the best environment
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea rem,
            consequatur maxime aliquam officiis inventore sed fugit, est
            tempora sapiente quo ratione corrupti libero temporibus. Error
            expedita ullam corporis illum?
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Who-->
  <section id="who" class="p-5 bg-dark text-light">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <h2>Who are you sponsoring?</h2>
          <p class="lead">
            You are sponsoring the 6 current members, Sidd Woddi, Ethan Lee,
            Johaan Mannanal, Lena Manjali, Lauren Kim, and Rhone Eiler.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea rem,
            consequatur maxime aliquam officiis inventore sed fugit, est
            tempora sapiente quo ratione corrupti libero temporibus. Error
            expedita ullam corporis illum?
          </p>
        </div>
        <div class="col-md">
          <img src="/public/memberstogether1.png" class="img-fluid rounded-3" alt="Members of the the Robotics Team" />
        </div>
      </div>
    </div>
  </section>

  <!--Why-->
  <section id="why" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="/public/sponsorphoto2.jpg" class="img-fluid rounded-3"
            alt="Drink robot being displayed - Photo by Michael Fousert on Unsplash" />
        </div>
        <div class="col-md p-5">
          <h2>Why are you sponsoring?</h2>
          <p class="lead">
            You get to be a part of the next generation of robotics and
            technoligal progress. You will also get a shoutout.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea rem,
            consequatur maxime aliquam officiis inventore sed fugit, est
            tempora sapiente quo ratione corrupti libero temporibus. Error
            expedita ullam corporis illum?
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Sponsor Now-->
  <section id="sponsor" class="p-5 bg-secondary text-light text-center">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <h2>What Can You Do?</h2>
          <p class="lead p-5">
            Sponsoring this team, or other FTC teams, is equal to fueling the
            future of robotics and innovation. Robot parts are exceedingly
            expensive, and require financial aid by anyone willing.
          </p>
          <p class="px-5">
            If you are willing to sponsor Galactech please click the button
            and fill out the form below. This will put you in contact with our
            team. Before you do so, you should check our page specifiying
            advantages, and perks of sponsors. This is linked in the form.
          </p>
          <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
            Sponsor
          </button>
        </div>
      </div>
    </div>
  </section>

  <!--Back to home button-->
  <section id="backtohomebutton" class="p-5 bg-dark text-light text-center">
    <a href="/" role="button" class="btn btn-outline-info btn-lg py-3">
      Back to Home</a>
  </section>

  <!--Sponsor modal-->
  <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Sponsor the Future Raiders
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Fil out this form and we will get back to you!</p>
          <form action="">
            <div class="mb-3">
              <label for="first-name" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="first-name" />
            </div>
            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last-name" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Email</label>
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">Phone: </label>
              <input type="tel" class="form-control" id="phone" />
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>