body::before {
  display: block;
  content: "";
  height: 35px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(30vh);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.fade-in-visible {
  opacity: 1;
  transform: none;
}

.typing-indicator {
  display: inline-block;
  width: 2px;
  background-color: black;
  animation: blinkcursor 1s linear infinite;
}

@keyframes blinkcursor {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.background-grow {
  animation: grow 3s ease infinite alternate;
}

@keyframes grow {
  0% {
    transform: scale(140%);
  }
  100% {
    transform: scale(180%);
  }
}
.purp {
  color: rgb(91, 2, 186);
}
.purp-btn {
  color: white;
  background-color: rgb(91, 2, 186);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.purp-bg {
  background-color: rgb(91, 2, 186);
  border: none;
}

.purp-btn:hover {
  border: none;
  color: white;
  background-color: rgb(91, 2, 186);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.purp-btn:active {
  border: none;
  color: white;
  background-color: rgb(61, 0, 127);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.shadow {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.crop {
  object-fit: cover;
}

.spacer {
  height: 100px;
}

#more,
#more2 {
  display: none;
}

.navbar {
  background-color: rgba(1, 0, 10, 0.8) !important;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.contact-hidden {
  display: none;
}

.contact-show:hover {
  display: none;
  animation: 1s linear infinite;
}

@keyframes grow {
  0% {
    transform: scale(140%);
  }
  100% {
    transform: scale(180%);
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
